/* Cards contatti */
.my-card {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(to bottom, #66fad3, #8cfa43);
}

.my-card .avatar {
  padding: 20px;
  height: 90px;
  width: 90px;
  margin: auto; /* automatic equal margin */
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 2px rgba(120, 120, 120, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-card .info {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

#error-message {
  color: #ffffff;
}
